.oc-dialog-dim {
    z-index : 1001;
}

#main {
    width: 100vw;
}

select,
input[type=button] {
    transition : border-color .1s ease-in-out
}

body .skip-navigation.skip-content {
    display: none;
}