#main {
    .passwords-https-report,
    .passwords-browser-compatibility {
        position         : absolute;
        top              : 55px;
        left             : 0;
        right            : 0;
        overflow         : auto;

        @media (min-width : 650px) {
            bottom : 0;
        }

        .title,
        .message {
            background    : $color-yellow;
            color         : $color-black;
            margin        : 0 auto 25px;
            padding       : 25px;
            max-width     : 1000px;
            font-size     : 1rem;
            text-align    : center;
            border-radius : 3px;

            a {
                text-decoration : underline;
                color           : $color-black;
            }

            &.report {
                background-color : var(--color-primary);
                color            : var(--color-primary-text);
                overflow         : auto;

                table {
                    margin : 0 auto;

                    tr:hover {
                        td {
                            color      : var(--color-primary);
                            background : var(--color-primary-text);
                        }
                        th {
                            color      : var(--color-primary-text);
                            background : var(--color-primary);
                        }
                    }

                    th {
                        font-weight : bold;
                        border-top  : 1rem solid var(--color-primary);
                    }

                    td {
                        padding : 0 0.75rem 0 0;
                        cursor  : text;
                    }

                    th:first-of-type,
                    td:first-of-type {
                        padding-left : 0.75rem;
                    }
                }
            }
        }

        .title {
            background     : $color-red-dark;
            color          : $color-white;
            font-size      : 1.25rem;
            text-transform : uppercase;
            font-weight    : bold;
        }

        .browser {
            margin    : 0 auto;
            padding   : 25px 0;
            font-size : 1.25rem;
            width     : 800px;

            a {
                display         : block;
                width           : 200px;
                padding         : 225px 10px 20px;
                float           : left;
                background      : no-repeat center 35px;
                background-size : 150px;
                text-align      : center;
                border-radius   : 3px;
                color           : $color-white;
                font-weight     : bold;

                &:hover {
                    background      : $color-green-dark no-repeat center 20px;
                    background-size : 180px;
                }

                @media (max-width : 649px) {
                    width     : 100%;
                    max-width : 360px;
                    margin    : 0 auto 25px;
                    float     : none;
                }
            }

            @media (max-width : 649px) {
                width : 90%;
            }
        }

        ul,
        ol {
            display    : inline-block;
            text-align : left;
            margin-top : 2em;

            &ul {
                list-style : disc;
            }
        }
    }
}