:root {
    --color-main-text:#000;
    --color-main-background:#fff;
    --color-background-dark:#ededed;
    --color-background-darker:#dbdbdb;
    --color-primary:#0082c9;
    --color-primary-text:#fff;
    --color-primary-text-dark:#ededed;
    --color-primary-element:#0082c9;
    --color-primary-element-light:#17adff;
    --color-error:#e9322d;
    --color-warning:#eca700;
    --color-success:#46ba61;
    --color-text-maxcontrast:#767676;
    --image-logo:url('/core/img/logo.png?v=0');
    --image-background-default:url('/core/img/background.png?v=0');
    --color-loading-light:#ccc;
    --color-loading-dark:#777;
    --color-box-shadow:rgba(77, 77, 77, 0.75);
    --color-border:#ededed;
    --color-border-dark:#dbdbdb;
    --border-radius:3px;
    --font-face:'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif
}