.oc-dialog-content p {
    padding : 10px;
    width   : 250px;
}

.oc-dialog-content p .ui-icon.ui-icon-notice {
    display : none;
}

.oc-dialog-buttonrow.onebutton,
.oc-dialog-buttonrow.twobuttons {
    button.primary {
        border-color: rgba(0,0,0,0);
    }
}