.oc-dialog-content p {
    padding : 10px;
    width   : 250px;
}

.oc-dialog-content p .ui-icon.ui-icon-notice {
    display : none;
}

.oc-dialog-buttonrow.onebutton,
.oc-dialog-buttonrow.twobuttons {
    button.primary {
        border-color: rgba(0,0,0,0);
    }
}

body {
    &[data-custom-color="false"] #app-popup .background .window .title {
        background-image : linear-gradient(40deg, #0082c9 0%, #30b6ff 100%);
    }

    &[data-custom-color="true"] #app-popup .background .window .title {
        background-image : linear-gradient(40deg, var(--color-primary-element) 0%, var(--color-primary-element-light) 100%);
    }
}

form.passwords-form[data-form="item-recovery-form"] {
    div.field {
        grid-template-columns: 4fr 1fr;
    }
}

body #app-blocked {
    position         : fixed;
    top              : 0;
    right            : 0;
    bottom           : 0;
    left             : 0;
    background-color : transparentize($color-black, 0.9);
    cursor           : wait;
    z-index          : 2000;
    backdrop-filter  : blur(3px);
}