#app[data-server-version="15"] {
    #authorize-window .login-confirm input[type="submit"] {
        background-image : url(/core/img/actions/confirm-white.svg?v=2);
    }
}

#app[data-server-version="16"],
#app[data-server-version="17"] {
    #controls .crumbmenu.active .menu, #controls .passwords-more-menu.active .menu {
        max-height : 90px;
    }

    > #app-navigation > ul {
        height: auto;

        &.menu-main {
            height: 100%;
        }

        &#app-settings.open {
            flex-shrink: 0;
        }
    }
}

#app[data-server-version="17"] {
    &#app {
        @media (min-width: $width-small) and (max-width : $width-medium) {
            #app-content {
                transition: margin-left 0.25s ease-in-out;

                &.show-details {
                    .app-content-left {
                        width: calc(100% - 360px);
                    }
                    .app-content-right {
                        width: 360px;
                    }
                }
            }

            &.mobile-open {
                #app-content {
                    margin-left: 300px;
                }
            }
        }
    }

    #controls {
        @media(max-width : $width-medium) {
            #app-navigation-toggle {
                display   : block !important;
            }
        }
    }
}
