body[data-server-version="25"] {

    #header .header-right form.searchbox.pw-searchbox {
        display : flex;

        input#searchbox {
            display          : block;
            background-color : transparent;
            border           : none;
            width            : 50px;
            height           : 44px;
            line-height      : var(--default-line-height);
            color            : transparent;


            &:focus {
                width               : 10rem;
                background-position : 1rem center;
                padding-left        : 2.25rem;
                background-color    : var(--color-main-background-blur);
                border-radius       : var(--border-radius-pill);
                color               : var(--color-main-text);
            }
        }

        .icon-close-dark {
            position         : absolute;
            right            : .5rem;
            height           : 44px;
            background-color : transparent;
            border           : none;
            display          : none;
        }

        input#searchbox:focus + .icon-close-dark {
            display : block;
        }
    }

    #content.app-passwords #app {
        display : flex;

        #app-navigation ul#app-settings {
            background-color : transparent;
            padding-bottom: 4px;

            &:not(.open) {
                max-height : 60px;

                li:nth-child(2) {
                    opacity: 0;
                }
            }
        }

        #app-content {
            border-top-right-radius    : var(--body-container-radius);
            border-bottom-right-radius : var(--body-container-radius);

            .app-content-left {
                overflow-y                 : auto;
                max-height                 : 100%;
                height                     : 100%;
                border-top-right-radius    : var(--body-container-radius);
                border-bottom-right-radius : var(--body-container-radius);

                #controls {
                    top              : 0;
                    margin-top       : 4px;
                    z-index          : 1;
                    background-color : var(--color-main-background);

                    .breadcrumb .crumb {
                        max-height : 54px;
                        height     : 54px;

                        a {
                            padding : 16px;
                        }
                    }

                    .passwords-more-menu {
                        .button.new {
                            display : inline-block;

                            .icon.icon-add {
                                min-width : 14px;
                            }
                        }

                        .menu {
                            position : absolute;
                        }

                        &.active .menu {
                            position : absolute;
                            top      : 108%;
                            padding  : 0;

                            .menuitem {
                                width : 100%;
                            }
                        }
                    }
                }
            }

            .app-content-right {
                border-top-right-radius    : var(--body-container-radius);
                border-bottom-right-radius : var(--body-container-radius);
                height                     : var(--body-height);
                margin-right               : var(--body-container-margin);
                right                      : calc(0px - var(--body-container-margin));
            }

            &.show-details {
                .app-content-left {
                    border-top-right-radius    : 0;
                    border-bottom-right-radius : 0;
                }

                .app-content-right {
                    transform : translate3d(calc(0px - var(--body-container-margin)), 0px, 0);
                }
            }

            .help {
                .handbook-footer {
                    position : sticky;
                    margin   : 1em auto 0;
                    width    : 100%;
                }

                .handbook-page {
                    blockquote.info {
                        background-color: var(--color-primary-element);
                    }

                    h1, h2, h3, h4, h5, h6 {
                        a.help-anchor {
                            margin: 0 0 0 -1.1em;
                        }
                    }
                }
            }

            .appstore-container {
                .appstore-item {
                    width: 505px;
                }
            }
        }

        .password-form-notes-wrapper #password-notes .toastui-editor-defaultUI .toastui-editor-toolbar .toastui-editor-defaultUI-toolbar .toastui-editor-toolbar-group .toastui-editor-toolbar-icons.fa:hover {
            color : var(--color-primary-default);
        }

        #password-add-field,
        .password-form-custom-field input {
            border-top-right-radius    : 0;
            border-bottom-right-radius : 0;
        }

        .password-form-custom-field-wrapper .field-label {
            border     : none;
            height     : auto;
            margin     : 0;
            min-height : 0;
            padding    : 3px;
        }
    }

    #app-content {
        .help #controls {
            width : auto;
        }
    }

    &#body-user[data-custom-background="false"][data-custom-color="false"].pw-auth-visible:not(.pw-auth-passed) #app #app-content {
        background-repeat          : no-repeat;
        background-size            : cover;
        height                     : 100vh;
        border-bottom-right-radius : 0;
    }
}

body[data-server-version="23"],
body[data-server-version="24"] {
    #controls .breadcrumb .crumb .home {
        background : var(--icon-home-000) no-repeat center;
    }
}
