$color-green-dark    : #00994d;
$color-red-dark      : #bf0303;
$color-red           : #c00;
$color-yellow        : #ffd500;
$color-black         : #000;

$color-black-light   : #333;
$color-black-lighter : #545454;
$color-grey-darker   : #6e6e6e;
$color-grey-dark     : #999;
$color-grey          : #b1b1b1;
$color-grey-light    : #dbdbdb;
$color-grey-lighter  : #eee;
$color-white         : #fff;

$width-extra-small   : 640px;
$width-small         : 768px;
$width-512           : 512px;
$width-512-above     : 513px;
$width-1024          : 1024px;
$width-1024-above    : 1025px;
$width-1366          : 1366px;
$width-1366-above    : 1367px;
$width-1680          : 1680px;
$width-1680-above    : 1681px;
$width-1920          : 1920px;
$width-1920-above    : 1921px;

/** @deprecated **/
$width-extra-large   : $width-1680;
$width-large         : $width-1366;
$width-medium        : $width-1024;
$mobile-width        : $width-extra-small;
$tablet-width        : $width-small;
$desktop-width       : $width-1366;

:root {
    --pw-icon-font-face         : FontAwesome, sans-serif;
    --pw-game-font-face         : "Ani", "Purisa", "TSCu_Comic", "Comic Sans MS", sans-serif;
    --pw-mono-font-face         : "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "DejaVu Sans Mono", "source-code-pro", monospace;
    --pw-image-login-background : var(--image-background-default);
    --pw-image-logo             : url(/apps/passwords/img/app.svg);
    --pw-image-logo-themed      : url(/apps/passwords/img/app-themed.svg);
}