$color-theme : #0082c9;
$color-green-dark : #00994d;
$color-green : #00b377;
$color-red-dark : #bf0303;
$color-red : #c00;
$color-yellow : #ffd500;
$color-black : #000;
$color-black-light : #333;
$color-black-lighter : #545454;
$color-grey-darker : #6e6e6e;
$color-grey-dark : #999;
$color-grey : #b1b1b1;
$color-grey-light : #dbdbdb;
$color-grey-lighter : #eee;
$color-white : #fff;

$mobile-width : 360px;
$tablet-width : 768px;
$desktop-width : 1024px;