<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/phpunit/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true">
    <testsuites>
        <testsuite name="Passwords">
            <directory suffix="Test.php">tests/phpunit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src/lib</directory>
        </include>
    </source>
</phpunit>