$color-green : #00994d;
$color-red : #f33;
$color-yellow : #fc0;
$color-black : #000;
$color-grey-dark : #6e6e6e;
$color-grey : #b1b1b1;
$color-grey-light : #dbdbdb;
$color-grey-lighter : #eee;
$color-white : #fff;