#passwords {
    .container,
    .area {
        display               : grid;
        grid-template-columns : 1fr 1fr;
        grid-template-rows    : 1fr;
        max-width             : 600px;

        label {
            padding : 5px;
        }

        input,
        select {
            padding      : 5px;
            justify-self : stretch;
            width        : 100%;
        }

        .container {
            grid-column  : 1 / span 2;
            justify-self : stretch;
        }

        &.cache {
            input {
                justify-self : start;
                width        : auto;
            }
        }
    }
}