header.section.passwords {
    h2 {
        position : relative;

        .icon-info {
            padding        : 11px 20px;
            vertical-align : text-bottom;
            display        : inline;
        }
    }
}

section.section.passwords {
    padding-top : 0;

    [data-constant] {
        display    : none;
        visibility : hidden;
    }

    .message {
        padding       : 3px 5px;
        border-radius : 3px;
        margin-bottom : .25em;

        &.error {
            background-color : $color-red-dark;
            color            : $color-white;
        }

        &.warn {
            background-color : $color-yellow;
        }

        &:first-of-type {
            margin-top : 2em;
        }

        &:last-of-type {
            margin-bottom : 2em;
        }
    }

    h3 {
        position : relative;

        .response.error,
        .response.success {
            font-size     : 1em;
            opacity       : 0;
            border-radius : 3px;
            transition    : opacity 0.25s ease-in-out;
            line-height   : 1;
            margin-left   : 6px;
            position      : absolute;
            padding       : 3px;

            &.active {
                opacity : 1;
            }
        }
    }

    .container,
    .area {
        display               : grid;
        grid-template-columns : 1fr 1fr;
        grid-template-rows    : 1fr;
        max-width             : 600px;

        label {
            padding : 5px;
        }

        input,
        select {
            padding      : 5px;
            justify-self : stretch;
            width        : 100%;
        }

        input[type=checkbox] {
            width        : auto;
            justify-self : left;
            cursor       : pointer;
        }

        .container {
            grid-column  : 1 / span 2;
            justify-self : stretch;
        }

        &.cache {
            input {
                justify-self : start;
                width        : auto;
            }
        }

        @media (max-width : $mobile-width) {
            grid-template-columns : 1fr;

            &.cache,
            &.legacy {
                grid-template-columns : 5fr 1fr;

                input {
                    justify-self : right;
                }
            }
        }
    }

    @media (max-width : $mobile-width) {
        form {
            margin-bottom : 4em;

            &:last-child {
                margin-bottom : 2em;
            }
        }
    }
}